body {
    margin: 1;
  }
  
  .xyz1 {
    width: 50vw; 
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background: url('https://www.w3resource.com/images/w3resource-logo.png') no-repeat center center;
    background-size: contain;
  }